
.wp-review-bank-wrapper {

  overflow: hidden;
  clear: both;
}

.wp-review-bank-title {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  padding: 10px 15px;
}

.wp-review-bank-wrapper .wp-review-bank-list {
  margin: 0;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e5e5e5;
}

.wp-review-bank-list li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 15px;
  position: relative;
  list-style: none;
}

.wp-review-bank-list li:nth-child(even) {
    background-color: #fafafa;
}

.wp-review-bank-list li:last-child {
  border-bottom: 1px solid #e7e7e7;
}

.wp-review-bank-summary-title {
  margin-bottom: 5px;
}

.wp-review-bank-desc {
  float: left;
  width: 70%;
  padding: 10px 15px;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.wp-review-bank-desc_total {
  float: left;
  width: 30%;
  padding: 10px 15px;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.wp-review-bank-desc p:last-child {
  margin-bottom: 0;
}

.wp-review-bank-result-wrapper i {
  font-style: normal;
  font-size: 16px;
}

.wp-review-bank-result {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;  
}

.wp-review-bank-total-wrapper {
  float: right;
  margin: 0;
  margin-right: 0;
  padding-right: 0;
  position: relative;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  margin-right: 15px;
}

.wp-review-bank-total-wrapper span.wp-review-bank-total-box {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;     box-sizing: border-box;
}
.wp-review-bank-total-wrapper span.wp-review-bank-total-box small{font-size: 12px; display: block;}
.percentage-icon {
  font-size: 22px;
  position: relative;
  top: -14px;
}

.wp-review-bank-total-star { 
  position: relative;
  margin-top: 5px;
  margin: 5px auto 15px auto;
  float: right;
}

.wp-review-bank-total-star.allowed-to-rate{margin-top:-10px;}

.wp-review-bank-total-star.allowed-to-rate.has-not-rated-yet a{cursor: pointer;}

.wp-review-bank-total-star.allowed-to-rate.has-not-rated-yet:hover .wp-review-bank-result {opacity: 0; filter: alpha(opacity=0); display:none}
.wp-review-bank-total-star.allowed-to-rate.has-not-rated-yet a:hover > i{opacity: 1; filter: alpha(opacity=1);}
.wp-review-bank-total-star.allowed-to-rate a.hovered i{opacity: 1; filter: alpha(opacity=1);}
.mts-wp-review-bank-wait-msg{display: none;}

.wp-review-bank-total {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 16px;
  z-index: 99;
  text-indent: -9999px;
}

.wp-review-bank-star {
  position: absolute;
  right: 15px;
  top: 10px;
}



.bar-point .wp-review-bank-star,
.percentage-point .wp-review-bank-star {
  position: relative;
  margin: 6px 0;
  top: 0;
  right: 0;
}

.bar-point .wp-review-bank-result-wrapper,
.percentage-point .wp-review-bank-result-wrapper {
  background: rgba(0,0,0,0.1) 0 -24px repeat-x;
  width: 100%;
  height: 22px;
}

.bar-point .wp-review-bank-result,
.percentage-point .wp-review-bank-result {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 22px;
  z-index: 99;
  text-indent: -9999px;
}

.wp-review-bank-total-star.allowed-to-rate .wp-review-bank-result-wrapper{background: none;}

.entry-content .wp-review-bank-title,
#content .wp-review-bank-title {
  margin: 0;
}

.entry-content .wp-review-bank-wrapper li {
  margin: 0;
}

.entry-content .wp-review-bank-summary-title,
#content .wp-review-bank-summary-title {
  margin-bottom: 5px;
}

#content .wp-review-bank-list {
  margin: 0;
}

#content .wp-review-bank-desc p:last-child {
  margin-bottom: 0;
}

.wp-review-bank-total-only {
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.6);
  color:#fff;
  font-size:13px;
    
  display: inline-block;
}
.wp-review-bank-total-only .percentage-icon {
    font-size: inherit;
    top: 0;
}
.wp-review-bank-total-only .wp-review-bank-type-star {
  font-size:12px;
    padding: 3px 6px;
}
.wp-review-bank-total-only .wp-review-bank-total-star {
  font-size:12px;
    margin: 0;
}
.wp-review-bank-total-only .wp-review-bank-result-wrapper i {
    color: #FFF !important;
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.wp-review-bank-total-only .wp-review-bank-result-wrapper .wp-review-bank-result i {
    opacity: 1;
    filter: alpha(opacity=100);
}
@font-face {
  font-family: 'font-star';
  src: url('../fonts/font-star.eot?75880836');
  src: url('../fonts/font-star.eot?75880836#iefix') format('embedded-opentype'),
       url('../fonts/font-star.woff?75880836') format('woff'),
       url('../fonts/font-star.ttf?75880836') format('truetype'),
       url('../fonts/font-star.svg?75880836#font-star') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="mts-icon-"]:before, [class*=" mts-icon-"]:before {
  font-family: "font-star";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 2px;
}
 
.mts-icon-star:before { content: '\e800'; }

@font-face {
  font-family: 'font-loader';
  src: url('../fonts/font-loader.eot?75880836');
  src: url('../fonts/font-loader.eot?75880836#iefix') format('embedded-opentype'),
       url('../fonts/font-loader.woff?75880836') format('woff'),
       url('../fonts/font-loader.ttf?75880836') format('truetype'),
       url('../fonts/font-loader.svg?75880836#font-loader') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="mts-icon-loader"]:before {
  font-family: "font-loader";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */  
}
.table_border {
	border: 2px dashed #e5e5e5;
	cursor:move;
	margin-top: 5px;
}



/*-----------------------------------------------------*/
/* Responsvie
/*-----------------------------------------------------*/
@media screen and (max-width:1040px) {
  .wp-review-bank-desc { width: 71%;}
  /*.wp-review-bank-total-wrapper { width: 26.8%; }*/
}

@media screen and (max-width:860px) {
  .wp-review-bank-desc { width: 66%;}
  /*.wp-review-bank-total-wrapper { width: 31.8%; }*/
}
@media screen and (max-width:470px) {
  .wp-review-bank-desc { padding: 4%; width: 100%;}
  .wp-review-bank-total-wrapper { width: 100%; margin-right: 0;}
  .wp-review-bank-total-wrapper span.wp-review-bank-total-box { padding: 10px 0 20px; text-align: left; padding-left: 10px;}
  .wp-review-bank-total-star { position: absolute; right: 20px; top: 5px;}
  .user-total-wrapper{width: 96%;}
  .wp-review-bank-total-star.allowed-to-rate{position: relative; right: auto;left: 0;float: left;}

}